# --- ESTRUCTURA DE CONFIGURACIÓN PARA ZABBIX + GRAFANA ---
# 1. Copia este archivo como '.env': cp .env.example .env
# 2. Rellena los datos reales en el nuevo archivo .env
# 3. NUNCA subas el archivo '.env' real a Git/GitHub.

# RUTA BASE (Donde se encuentran las carpetas de datos en el servidor)
BASE_PATH=/opt/servicios/nodo-app-zabbix

# --- CONFIGURACIÓN DE BASE DE DATOS REMOTA ---
# Host donde reside la base de datos (IP o nombre de red)
DB_SERVER_HOST=192.168.1.XXX
DB_SERVER_PORT=5432
DB_SERVER_DBNAME=zabbix

# Credenciales de acceso a la DB (Aquí pones tus datos reales al crear el .env)
POSTGRES_USER=[TU_USUARIO_REAL]
POSTGRES_PASSWORD=[TU_CONTRASENA_REAL]

# --- CONFIGURACIÓN ZABBIX SERVER ---
ZBX_SERVER_HOST=zabbix_server
ZBX_SERVER_PORT=10051

# --- PUERTOS PARA SERVICIOS ---
# Puerto para la interfaz web de Zabbix
WEB_PORT= 8082
# Puerto para acceder a Grafana
GRAFANA_PORT=3000

# --- SEGURIDAD GRAFANA ---
# Contraseña para el usuario administrador de Grafana
GRAFANA_ADMIN_PASSWORD=[TU_PASSWORD_ADMIN_GRAFANA]
